#title{
  text-align: center;
  
}
body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

#description{
  text-align:center;
}
.container{
 display: flex;
  justify-content: center;
}

input{
  text-align:center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #212121;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #212121;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #212121;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #212121;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #212121;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #212121;
}
