#title{
  text-align: center;
  
}
body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

#description{
  text-align:center;
}
.container{
 display: flex;
  justify-content: center;
}

input{
  text-align:center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #212121 ;
   
}
